[submodule "build/certbot"]
	path = build/certbot
	url = git@github.com:devedotus/certbot
	brach = master
[submodule "build/cli"]
	path = build/cli
	url = git@github.com:devedotus/docker-cli.git
	brach = master
[submodule "build/php"]
	path = build/php
	url = git@github.com:devedotus/php.git
	brach = master
[submodule "build/web"]
	path = build/web
	url = git@github.com:devedotus/web.git
	brach = master
